.main-holder {
  display: flex;
  background-image: linear-gradient(to left, #fcfcfc, #f5f5f5);
  border-radius: 5px;
}
.sidebar {
  width: 20%;
  padding: 5px;
}

.main-container {
  width: 80%;
}

ul {
  padding: 0%;
  list-style-type: none;
}

.cate-list {
  margin: 10px;
}

.products {
  flex-flow: row wrap;
  display: flex;
}

.list-prod {
  width: 20%;
  flex-grow: 0;
  flex-shrink: 0;
}

.product-footer {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 13%;
}
